body {
	margin: 0;
}
#header-main {
	display: flex;
	height: 65px;
	background: #111111;
}
#logo {
	display: flex;
	justify-content: center;
	width: 20%;
	height: 100px;
	
}
#logo a {
	position: absolute;
}
#logo img {
	height: 100px;
	border: 3px solid #111111;
}
#header-main #nav-main {
	width: 80%;
	display: flex;
	align-items: center;
}
#header-main #nav-main ul {
	width: 100%;
	margin-left: 5%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	/*border: 1px solid #f21810;*/
}
#header-main #nav-main ul li {
	list-style-type: none;
	margin-left: 5%;
}
#header-main #nav-main ul li a {
	text-decoration: none;
	text-transform: uppercase;
	color: #ffffff;
	font-family: 'Staatliches', cursive;
	font-size: 17pt;
	
}
#nav-main li a p {
	padding: 5px;
	-webkit-border-radius: 10px 10px 10px 10px;
}
#nav-main li a p:hover { 
  background-color: #ffffff;
  color: #111111;
  transition: 0.5s;

  
}
#back {
	width: 100%;
	height: 570px;
}
#back img {
	width: 100%;
	height: 100%;
}
#section {
	padding-top: 100px;
	padding-bottom: 50px;
	width: 100%
}
.news {
	display: flex;
	justify-content: center;
}
.news .new {
	margin-right: 3%;
	margin-left: 3%;
	width: 343px;
    height: 441px;
    -webkit-border-radius: 5px 5px 5px 5px;
    -webkit-box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.75);
		-moz-box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.75);
		box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.75);
}
.new .titulo {
	font-family: 'Muli', sans-serif;
}
.new .titulo a{
	text-decoration: none;
	color: #484848;
	display: flex;
	justify-content: center;
}
.new .imagem {
	width: 100%;
	height: 50%;
}
.new .imagem img {
	width: 100%;
	height: 100%;
	 -webkit-border-radius: 5px 5px 0px 0px;
}
/*=================================Species===================================*/
.titulo-secao {
	font-family: 'Roboto Condensed', sans-serif;
	width: 30%;
	height: 60px;
	padding-top: 70px;
	display: flex;
	justify-content: flex-end;
	border-bottom: 1px solid #484848;
}
.titulo-secao h3 {
	font-size: 20pt;
	width: 20%;
	height: 49%;
}
.continents {
	display: flex;
	justify-content: center;
	width: 100%;
}
.continents .continent {
	padding-top: 50px;
	margin right: 3%;
	margin-left: 3%;
}
.continents .continent .imagem {
	width: 150px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.continents .continent .imagem img {
	width: 100px;
	height: 100px;
	-webkit-clip-path: circle(50% at 50% 50%);
		clip-path: circle(50% at 50% 50%);
}
.continents .continent .titulo {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 40px;
}
.continents .continent .titulo a {
	text-transform: uppercase;
	font-family: 'Staatliches', cursive;
	font-size: 17pt;
	text-decoration: none;
	color: #111111;
}
/*\----------------------------
			  Species
----------------------------\*/			  
#header-white {
	display: flex;
	height: 65px;
}
#logo {
	display: flex;
	justify-content: center;
	width: 20%;
	height: 100px;
	
}
#logo a {
	position: absolute;
}
#logo img {
	height: 100px;
	border: 3px solid #111111;
}
#nav-white {
	width: 80%;
	display: flex;
	align-items: center;
}
#nav-white ul {
	width: 100%;
	margin-left: 5%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
#nav-white ul li {
	list-style-type: none;
	margin-left: 5%;
}
#nav-white ul li a {
	text-decoration: none;
	text-transform: uppercase;
	color: #111111;
	font-family: 'Staatliches', cursive;
	font-size: 17pt;
}
#nav-white li a p {
	 padding: 5px;
  	-webkit-border-radius: 10px 10px 10px 10px;
}
#nav-white li a p:hover { 
  background-color: #111111;
  color: #ffffff;
  transition: 0.5s;
}
.animais {
	display: flex;
	padding: 50px;
	flex-wrap: wrap;
	justify-content: center;

}
.animais a {
	width: 330px;
	height: 220px;
	margin-right: 1,5%;
	margin-left: 1,5%;
}
.animais a img {
	height: 100%;
	width: 100%;
}